
body { Helvetica; sans-serif;
}
.card {
background: cyan;
max-width: 300px;
border-style: solid;
border-color: blue;
border-width: 5px;
padding:10px;
}
.card h3 {
  text-align: center;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.card img {
  box-sizing: border-box;
  width: 300px;
  border: none;
}

.fact {
border-style: solid;
margin-top: 10px;
border-radius: 15px;
padding: 8px;
background-color: #b5fff6;
}

.fact p {
font-style: italic;
border-style: none;
margin: 0px;
padding: 0px;
}

.info {
  margin-top:10px;
  padding: 0px;
  list-style-type: none;
  margin-bottom: 10px;
  }

.info span {
    font-weight: bold;
  }

.info p {
    font-style: normal;
  }
